.places {
  width: 984px;
  margin: 92px auto 0 auto;
  display: flex;
  flex-direction: column;
  row-gap: 80px;
}

@media screen and (max-width: 987px) {
  .places {
    max-width: 90%;
  }
}

@media screen and (max-width: 676px) {
  .places {
    row-gap: 16px;
  }
}
