.place {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  gap: 0 40px;
  grid-template-areas:
    "place__title place__website"
    "place__image place__container"
    "frame6 place__container"
    ". place__container";

  margin-bottom: 80px;
}


@media screen and (max-width: 676px) {
  .place {
    grid-template-areas:
      "place__title"
      "place__website"
      "place__image"
      "place__container"
      "frame6";

    margin-bottom: 16px;
  }
}

