.header__logo{
  max-width: 270px;
  max-height: 70px;
  margin: 34px auto 91px auto;
  display: block;

}

@media screen and (max-width: 320px) {
  .header__logo {
    margin-bottom: 52px;
    max-width: 200px;
    max-height: 52px;
  }
}