.header__logo{
  max-width: 270px;
  max-height: 70px;
  margin: auto;
  display: block;
  padding-top: 34px;
  padding-bottom: 91px;
}

@media screen and (max-width: 320px) {
  .header__logo {
    padding-bottom: 52px;
    max-width: 200px;
    max-height: 52px;
  }
}