.intro__quote{
  max-width: 720px;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.42;
  position: relative;
}

@media screen and (max-width: 768px) {
  .intro__quote {
    position: relative;
    bottom: 0px;
  }
}
@media screen and (max-width: 320px) {
  .intro__quote {
    position: relative;
    bottom: 0px;
    margin-top: 0;
  }
}