.intro{
  font-family: "Inter", serif;
  color: #fff;
  max-width: 1017px;
  margin: 0 auto 92px auto;
}

@media screen and (max-width: 768px) {
  .intro {
    width: 90vw;
    margin-bottom: 64px;
  }
}
@media screen and (max-width: 320px) {
  .intro {
    margin-bottom: 38px;
  }
}